[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<2"
metatrader5 = "*"
matplotlib = "*"
pandas = "*"
pytz = "*"
datetime = "*"
schedule = "*"
ta-lib = {file = "..\\..\\Downloads\\TA_Lib-0.4.29-cp312-cp312-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.12"
