[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<2"
metatrader5 = "*"
matplotlib = "*"
pandas = "*"
pytz = "*"
datetime = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.12"
